// Colors
$primary-color: #5A65F2;
$secondary-color: #FF5722;
$neutral-color-light: #F4F4F4;
$neutral-color-dark: #212121;

// Font family
$font-family-primary: 'Montserrat', sans-serif;

// Font size
$font-size-xs: 0.875rem; // 14px
$font-size-s: 1rem; // 16px
$font-size-sm: 1.125rem; // 18px
$font-size-large: 1.25rem; // 20px

// Font weight
$font-weight-semi-bold: 500;
$font-weight-bold: 600;
